*,
html,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    background: green;
    flex: 0 0 auto;
}

[class*="sidebar-"] {
    height: 100%;
}

.blank-col { /* пустой контейнер */
    min-height: 100px;
    max-height: 100px;
}

.sticky {
    top: 0;
    position: fixed;
    width: 100%;
    max-height: 150px;
}


.hidden {
    display: none;
}

.hidden-col {
    visibility: hidden;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@media all and (max-width: 500px) {
    .no-mobile {
        display: none;
    }
}

/* Сетка */

.wrapper {
    margin: 20px auto;
}

@media all and (min-width: 680px) {
    .wrapper {
        padding: 0 20px;
        padding-top: 20px;
    }
}

[class*="col-"] {
    margin-bottom: 20px;
    min-height: 30px;
    background: #fff;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

[class*="col-"] {
    margin-right: 0;
    width: 100%;
}

[class*="col-"]:last-child {
    margin-right: 0;
}

@media all and ( min-width: 680px ) {
    [class*="col-"] {
        margin-right: 20px;
    }

    .col-1 {
        flex: 1;
    }

    .col-2 {
        flex: 2;
    }

    .col-3 {
        flex: 3;
    }

    .col-4 {
        flex: 4;
    }

    .col-5 {
        flex: 5;
    }

    .col-6 {
        flex: 6;
    }

    .col-7 {
        flex: 7;
    }

    .col-8 {
        flex: 8;
    }

    .col-9 {
        flex: 9;
    }

    .col-10 {
        flex: 10;
    }

    .col-11 {
        flex: 11;
    }

    .col-12 {
        flex: 12;
    }
}

.full-width {
    margin-bottom: 0;
}

.full-width:last-child {
    margin-bottom: 20px;
}

.space-off,
.space-off:last-child {
    margin-bottom: 0;
}

@media all and (min-width: 500px) {
    .full-width {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .space-off,
    .space-off:last-child {
        margin-bottom: 0;
    }
}


.fr {
    float: right;
}

input, textarea {
    width: 250px;
}

.table, .table tr, .table th, .table td {
    border-collapse: collapse;
    padding: 15px;
    border: 1px solid #999;
}

.btn {
    border-radius: 5px;
}

.delete {
    color: red;
    background: darkred;

    text-decoration: none;
}

body {

}

.btn:hover {
    color: #543c33;
    box-shadow: black 1px 1px 10px;
}

.btn {
    padding: 5px;
}

.left_menu, .left_menu * {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

.left_menu li {
    padding: 15px;
    background: white;
    color: #06081e;
    border-bottom: 1px solid #ccc;
}

.left_menu, .left_menu li:hover {
    font-weight: bold;
}

.left_menu li a {
    text-decoration: none;
}

.mini {
    width: auto;
}

div.errors {
    border-radius: 5px;
    width: 600px;
    padding: 25px;
    margin: 25px;
    color: white;
    box-shadow: red 20px 5px 20px;
    background: radial-gradient(#540b0b, darkred);
}

ul.errors {
    width: fit-content;
    margin: 0 auto;
}

ul.errors li {
    width: fit-content;
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid white;
}

.markdown p, .markdown li {
    text-align: justify;
    font-family: monospace;
    margin: auto;
}
